.leaflet-container{
  width: 70vw;
  height: 50vh;
 
}

.api-data-container {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.api-data-container p {
  margin: 5px 0;
}